header.header {
  background-color: var(--bg-bot);
  border-radius: 8px 8px 0 0;

  border-bottom: 3px solid var(--bg-primary);

  display: flex;
  flex-direction: column;
  gap: 15px;

  padding: 10px;
  max-width: 100%;
}

.artifactModule {
  flex: 1;

  background-color: var(--bg-secondary);
  border-radius: 8px;
  min-width: 400px;

  height: 100%;
  max-height: 90vh;
  overflow-y: auto;
}

.artifactModule:hover::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: var(--dracula-white);
}

.artifactModule:hover::-webkit-scrollbar-thumb:hover {
  background: var(--dracula-purple);
}

.controls {
  display: flex; 
  flex-direction: row;
  gap: 10px;
  overflow-x: auto;
}

.controls::-webkit-scrollbar-thumb {
  background: var(--dracula-white);
  border-radius: 8px;
}

.controls:hover::-webkit-scrollbar-thumb:hover {
  background: var(--dracula-red);
}


section > header > .title {
  text-align: center;
}

ul.elementContainer {
  padding: 10px 0 10px 10px;

  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

input.reportLabel {
  flex: 1;
}

.reportLabel,
.controls {
  border: 2px solid var(--bg-secondary);
  padding: 8px;
  border-radius: 8px;
}

@media (max-width: 840px) {
  .artifactModule {
    overflow-y: visible;
    height: 100%;
    max-height: 100%;
  }
}

@media (max-width: 420px) {
  .artifactModule {
    min-width: 100%;
  }
}
