*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  --dracula-blue-gray: #6272A4;
  --dracula-dark-gray: #44475A;
  --dracula-purple: #BD93F9;
  --dracula-red: #FF5555;
  --dracula-green: #50FA7B;
  --dracula-gray: #282A36;
  --dracula-yellow: #F1FA8C;
  --dracula-orange: #FFB86C;
  --dracula-white: #F8F8F2;

  --bg-primary: #121212;
  --bg-secondary: #181818;
  --bg-content: var(--dracula-gray);
  --bg-top: #404040;
  --bg-bot: #282828;
  --txt-primary: var(--dracula-white);
  --txt-secondary: #B3B3B3;

  background-color: var(--bg-primary);
  color: var(--txt-primary);
  font-family: var(--font-redHatText);
}

footer {
  padding: 5px;
  font-style: italic;
  min-height: 20px;

  color: var(--txt-secondary);

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;

  border-top: 1px solid var(--dracula-dark-gray);
}

#__next {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  padding: 0 5px;
}

main {
  flex: 1;

  padding: 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-redHatDisplay);
}

h1 {
  color: var(--dracula-red);
}

h2 {
  color: var(--dracula-red);
}

h3 {
  color: var(--dracula-purple);
}

a,
a:visited {
  color: var(--dracula-yellow);
}

footer > a,
footer > a:visited {
  text-decoration: none;
  color: var(--dracula-blue-gray);
}

a:hover,
footer > a:hover {
  color: var(--dracula-red);
}

input,
textarea,
select {
  font-size: 15px;  
}

input,
textarea {
  padding: 8px;
  
  border-color: var(--bg-primary);
  border-radius: 4px;
  
  background-color: var(--bg-secondary);
  color: var(--txt-secondary);

  font-family: var(--font-redHatMono);
}

input {
  padding-top: 10px;
  height: 35px;
  width: 100%;
}

textarea {
  overflow-y: scroll;
  min-height: 185px;
  resize: none;
  cursor: auto;
}

textarea:read-only {
  color: var(--dracula-purple);
}

input:focus-visible,
textarea:focus-visible {
  border-color: var(--dracula-red);
  outline: var(--dracula-red);
}

select {
  padding: 2px;
  background-color: var(--bg-secondary);
  border-color: var(--bg-primary);

  color: var(--dracula-purple);
  cursor: pointer;
}

.flex {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}

.flex.row {
  flex-direction: row;
}

.flex.col {
  flex-direction: column;
}

.title {
  padding: 8px;
  background-color: var(--bg-bot);
  border-radius: 8px;

  width: 100%;

  justify-content: center;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

textarea:hover::-webkit-scrollbar-thumb {
  background: var(--dracula-white);
  border-radius: 8px;
}

textarea:hover::-webkit-scrollbar-thumb:hover {
  background: var(--dracula-red);
}

.control {
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.control:hover {
  color: var(--dracula-purple);
}

.control.fa-circle-minus:hover,
.control.fa-square-minus:hover {
  color: var(--dracula-red);
}

.control.fa-circle-plus:hover,
.control.fa-square-plus:hover {
  color: var(--dracula-green);
}

.control.fa-eye:hover,
.control.fa-eye-slash:hover,
.control.fa-eye-low-vision:hover,
.control.fa-copy:hover {
  color: var(--dracula-yellow);
}

.control.fa-dumpster:hover,
.control.fa-trash-can:hover {
  color: var(--dracula-orange);
}

@media(max-width: 840px) {
  ::-webkit-scrollbar-thumb {
    background: var(--dracula-white);
    border-radius: 8px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--dracula-red);
  }
}

@media (max-width: 420px) {
  main {
    padding: 10px 0;
  }
}
