.eventlog {
  border: 1px solid var(--txt-secondary);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 5px;
}

.controls {
  display: flex; 
  flex-direction: row;
  gap: 10px;
}

.log,
.json {
  overflow-y: scroll;
  min-height: 75px;
  resize: none;

  height: 250px;
}

textarea.json {
	color: var(--dracula-purple);
}

.hidden {
  display: none;
}
