.eventlog {
  border: 1px solid var(--txt-secondary);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 5px;
}

.controls {
  display: flex; 
  flex-direction: row;
  gap: 10px;
}

.log,
.json {
  height: 250px;
}

.hidden {
  display: none;
}
