.artifactModule {
	flex: 1;

	background-color: var(--bg-secondary);
	border-radius: 8px;
	min-width: 400px;
	max-width: 600px;
}

.controls {
  background-color: var(--bg-bot);
  border-radius: 8px 8px 0 0;
  padding: 8px;

  display: flex; 
  flex-direction: row;
  gap: 10px;
}

.containerHeader {
  padding: 10px;
  text-align: center;
}

ul.elementContainer {
  padding: 20px;

  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.artifact {
  border: 1px solid white;
  border-radius: 8px 15px;

  padding-bottom: 10px;
}
