.controls {
  background-color: var(--bg-bot);
  border-radius: 4px 20px 0 0; 
  padding: 8px;

  display: flex; 
  flex-direction: row;
  gap: 10px;
}

ul.evidenceContainer {
  padding: 10px;
  list-style: none;
  border-radius: 0 0 4px 20px;
  background-color:#282a36;
  color: var(--txt-secondary);

  display: flex;
  flex-direction: column;
  gap: 25px;
}

.artifact {
  border-radius: 4px 20px;
  box-shadow: 1px 1px 10px 1px black;
}
