header.header {
  background-color: var(--bg-bot);
  border-radius: 8px 8px 0 0;

  border-bottom: 3px solid var(--bg-primary);

  display: flex;
  flex-direction: column;
  gap: 15px;

  padding: 10px;
}

.artifactModule {
	flex: 1;

	background-color: var(--bg-secondary);
	border-radius: 8px;
	min-width: 400px;
	
	height: 100%;
	max-height: 90vh;
	overflow-y: auto;
}

.artifactModule:hover::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: #F8F8F2;
}

.artifactModule:hover::-webkit-scrollbar-thumb:hover {
  background: #BD93F9;
}

.controls {
  display: flex; 
  flex-direction: row;
  gap: 10px;
}

section > header > .title {
  text-align: center;
}

ul.elementContainer {
  padding: 20px;

  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

input.reportLabel {
  flex: 1;
}

.reportLabel,
.controls {
  border: 2px solid var(--bg-secondary);
  padding: 8px;
  border-radius: 8px;
}
