*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  --bg-primary: #121212;
  --bg-secondary: #181818;
  --bg-top: #404040;
  --bg-bot: #282828;
  --txt-primary: #F8F8F2;
  --txt-secondary: #B3B3B3;

  --dracula-red: #FF5555;

  background-color: var(--bg-primary);
  color: var(--txt-primary);
}

footer {
  padding: 5px;
  font-style: italic;
  min-height: 20px;

  color: var(--txt-secondary);

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;

  border-top: 1px solid #44475a;
}

#__next {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

main {
  flex: 1;

  padding: 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

h1 {
  color: #bd93f9;
}

a,
a:visited {
  color: #f1fa8c;
}

footer > a,
footer > a:visited {
  text-decoration: none;
  color: #6272a4;
}

a:hover,
footer > a:hover {
  color: #ffb86c;
}

.acronym {
  border: 1px solid #50fa7b;
  border-radius: 8px;

  letter-spacing: 0.08em;

  padding: 10px;
}

.dr-green {
  color: #50fa7b;
}

.dr-red {
  color: #ff5555;
}

textarea {
  border-color: var(--bg-primary);
  border-radius: 4px;
  padding: 5px;
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
}

textarea:focus-visible {
  border-color: var(--dracula-red);
  outline: var(--dracula-red);
}
