*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html {
  --bg-primary: #121212;
  --bg-secondary: #181818;
  --bg-top: #404040;
  --bg-bot: #282828;
  --txt-primary: #F8F8F2;
  --txt-secondary: #B3B3B3;

  --dracula-purple: #BD93F9;
  --dracula-red: #FF5555;
  --dracula-green: #50fa7b;

  background-color: var(--bg-primary);
  color: var(--txt-primary);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
  padding: 5px;
  font-style: italic;
  min-height: 20px;

  color: var(--txt-secondary);

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;

  border-top: 1px solid #44475a;
}

#__next {
  display: flex;
  flex-direction: column;

  min-height: 100vh;

  padding: 0 5px;
}

main {
  flex: 1;

  padding: 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

h1 {
  color: var(--dracula-red);
}

h2 {
  color: var(--dracula-red);
}

h3 {
  color: var(--dracula-purple);
}

a,
a:visited {
  color: #f1fa8c;
}

footer > a,
footer > a:visited {
  text-decoration: none;
  color: #6272a4;
}

a:hover,
footer > a:hover {
  color: var(--dracula-red);
}

.acronym {
  border: 1px solid #50fa7b;
  border-radius: 8px;

  letter-spacing: 0.08em;

  padding: 10px;
}

.dr-green {
  color: #50fa7b;
}

.dr-red {
  color: #ff5555;
}

input,
textarea,
select {
  font-size: 15px;  
}

input,
textarea {
  padding: 8px;
  
  border-color: var(--bg-primary);
  border-radius: 4px;
  
  background-color: var(--bg-secondary);
  color: var(--text-secondary);

  font-family: 'Courier New', Courier, monospace;
}

textarea {
  overflow-y: scroll;
  min-height: 185px;
  resize: none;
}

textarea:read-only {
  color: var(--dracula-purple);
}

input:focus-visible,
textarea:focus-visible {
  border-color: var(--dracula-red);
  outline: var(--dracula-red);
}

select {
  padding: 2px;
  background-color: var(--bg-secondary);
  border-color: var(--bg-primary);

  color: var(--dracula-purple);
}

.flex {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
}

.flex.row {
  flex-direction: row;
}

.flex.col {
  flex-direction: column;
}
